.product{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 22%;
    border: 1 px solid;
}
.elements{
    width: 200px;   
    text-align: center;
    /* white-space: nowrap; */
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 50px;
}
.elements :nth-child(2){
   font-size: 15px;
}
.product img{
    width: 200px;
    /* position: relative; */
}

/* --------------side-bar---------- */
.side-bar{
    /* border: 2px solid red ; */
    width: 20%;
    height: 400px;
    position: absolute;
}
.makeit{
    /* border: 2px solid red; */
    width: 70%;
    position: relative;
    margin-left: 20%;
}